:root 
{
    --favcolor: rgb(135, 206, 250);
}
h1 
{
   text-align: center;
   color: var(--favcolor);
   background-color: rgb(230, 230, 250);
   font-size: 16pt;
}
section h2
{
font-size: 14pt;
}
section
{
    color: var(--favcolor);
    float: right;
 }
p
{
    text-align: left;
 }
 img
 {
border-radius: 8px;
 }
 div
 {
    text-align: center;
 }
 div.button
 {
    text-align: center;
 }