:root 
{
    --favcolor: rgb(68, 163, 222);
    font-size: 20pt;
}
h1 
{
   text-align: center;
   color: var(--favcolor);
   background-color: rgb(230, 230, 250);
   font-size: 22pt;
}
section h2
{
font-size: 14pt;
}
section
{
    color: var(--favcolor);
    float: right;
 }
p
{
    text-align: left;
    clear: both;
    font-size: 15pt;
 }

 div
 {
    text-align: center;
 }
 div.button
 {
    text-align: center;
 }